<h1>Users</h1>
<table>
  <thade>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thade>
  <tbody>
    <% @users.each do |user| %>
     <tr>
       <td>
         <%= image_tag user.get_profile_image(100,100) %>
       </td>
       <td><%= user.name %></td>
       <td><%= link_to "show",user_path(user.id) %></td>
     </tr>
    <% end %>
  </tbody>
</table>
